div{
	border: 2px solid black;
	width: auto;
	height: auto;
}
form{
	border: 1px solid black;
	margin: 5px;
	width: auto;
	height: auto;
}
input{
	margin: 5px;
	width: auto;
	height: auto;
}
button{
	margin: 5px;
	width: auto;
	height: auto;
}
p,h3{
	padding: 5px;
}